$border-color: #dddfe2;
$background: #e9ebee;
$logo-green: #8b9d4c;

$dark-grey: #e8e8e2;
$background-grey: #e8e8e2;
$light: #ffffff;
$dark: #26272b;
$grey_light: #e5e5e5;
$violet_grey: #968a96;
$violet_grey_light: #ddd6dd;