$border-color: #AFD6D8;
$background: white;
$logo-green: #56828C;
$dark-grey: #fffffa;
$background-grey: white; 
$bluemain:#32758F;
$bluesec:#58B6DB;
$bluethird:#8ac5dd;
$bluefourth:#b2ceda;
$greenmain:#4F8F59;
$greensec:#6EDB80;
$greenthird:#98dfa4;
$greenfourth:#bcdbc1;
$highlight:#DB7F62;

