@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html, body {
	background: white !important;
	font-family: Montserrat, Helvetica, Sans-serif;
}

.banner {
	height: 200px;
	width: 100%;
	background: $grey_light;
}

.banner__title {
	text-align: center;
	color: $black;
	font-size: 3em;
}

.banner__desc {
	text-align: center;
	font-size: 1em;
	color: black;
}

.footer {
	background: $dark;
}

.footer_title {
	font-size: 2em;
	color: white;
}

.footer__desc {
	font-size: 1em;
	color: white;
}